<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{#if login}}
    {{else}}
    <header>
        <a href="/home/{{usuario.id}}">
            <h1>Ver ferramentas</h1>
        </a>
        <a href="/cad/form/{{usuario.id}}">
            <h1>cadastrar novo equipamento</h1>
        </a>
        <a href="/user/{{usuario.id}}">
            <h1>Meu perfil</h1>    
        </a>
    </header>
    {{/if}}
    {{{body}}}
</body>

</html>